{% extends 'base.html' %}

{% block title %}HomePage{% endblock %}

{% block content %}

 <!-- Hero Section -->
<div class="container-fluid p-0">
  <div class="row justify-content-center align-items-center" style="height: 20vh; background-color: #f7f7f7;">
    <div class="col-md-6 text-center">
      <h1 class="display-4">La tua DashBoard</h1>
      <hr class="border border-success w-25 mx-auto opacity-50">
    </div>
  </div>
</div>

<!-- Dashboard Cards -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- SPESA COLUMN -->
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm border-0" style="min-height: 300px;">
        <div class="card-body d-flex flex-column justify-content-top align-items-center">
          <h5 class="card-title">La spesa</h5>
          <hr class="border border-success opacity-50 w-50 my-3">

            <a class="btn btn-outline-success btn-lg mt-3 w-50" href="#">Scontrini</a>
            <a class="btn btn-outline-success btn-lg mt-3 w-50" href="#">Lista Spesa</a>

        </div>
      </div>
    </div>

    <!-- PROFILO COLUMN -->
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm border-0" style="min-height: 300px;">
        <div class="card-body d-flex flex-column justify-content-top align-items-center">
          <h5 class="card-title">Profilo</h5>
          <hr class="border border-primary opacity-50 w-50 my-3">

            <a class="btn btn-outline-primary btn-lg mt-3 w-50" href="{{ url_for('profile_page') }}">Dati Personali</a>
            <a class="btn btn-outline-primary btn-lg mt-3 w-50" href="#">Dieta</a>
            <a class="btn btn-outline-primary btn-lg mt-3 w-50" href="#">Attività Fisica</a>
            <a class="btn btn-outline-primary btn-lg mt-3 w-50" href="#">Salute</a>

        </div>
      </div>
    </div>

    <!-- ANALYTICS COLUMN -->
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm border-0" style="min-height: 300px;">
        <div class="card-body d-flex flex-column justify-content-top align-items-center">
          <h5 class="card-title">Analytics</h5>
          <hr class="border border-warning opacity-50 w-50 my-3">

            <a class="btn btn-outline-warning btn-lg mt-3 w-50" href="#">Gestione</a>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
