<!DOCTYPE html>
<html >
  <head>
    <title>Sana Spesa</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {#
      {% include 'banner.html' %}
    #}

    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Sana Spesa
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        Sana Spesa è una veloce webApp perfetta per tenere traccia delle tue abitudini quotidiane e soprattutto della tua spesa! Riceverai consigili su cosa mangiare e quanto per raggiungere i tuoi obiettivi, per una vita più salutare. Tieni traccia dei tuoi risultati con grafici all'avanguardia che mostrano il tuo progresso.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/spesa.jpg" style="height:320px;border-radius:4px;">
        </div>
      </div>

      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}">Entra</a>
      </div>
    </div>
  {# {% include 'footer.html' %} #}
  </body>
</html>