{% extends 'base.html' %}

{% block title %}New Purchase{% endblock %}

{% block content %}
<div class="container mt-5 ">
    <!-- Header -->
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold animate__animated animate__fadeInDown">Add New Purchase</h1>
        <p class="lead text-muted animate__animated animate__fadeInDown">Insert the products of your receipt</p>
    </div>
    <div class="row justify-content-center">
    <div class="col-lg-8">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home_page') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('purchases_page') }}">Purchases</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Purchase</li>
        </ol>
    </nav>

    <form id="purchaseForm">
        <!-- Purchase Info Section -->
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Receipt Information</h4>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.receipt_id.label(class="form-label") }}
                        {{ form.receipt_id(class="form-control", placeholder="Enter Receipt ID", id="form-receipt_id") }}
                        <div class="invalid-feedback">Please enter a valid purchase ID.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.date.label(class="form-label") }}
                        {{ form.date(class="form-control", placeholder="Enter Purchase Date", id="form-date") }}
                        <div class="invalid-feedback">Please enter a valid date.</div>
                    </div>

            </div>
        </div>

        <!-- Add Product Section -->
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Add Products</h4>
                <div class="row">
                    <div class="col mb-3">
                        {{ form.product.label(class="form-label") }}
                        {{ form.product(class="form-select select2", placeholder="Select Product", id="form-product") }}
                        <div class="invalid-feedback">Please select a product.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.quantity.label(class="form-label") }}
                        {{ form.quantity(class="form-control", type="number", placeholder="Enter Quantity", id="form-quantity") }}
                        <div class="invalid-feedback">Please enter a valid quantity.</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.price.label(class="form-label") }}
                        {{ form.price(class="form-control", placeholder="Enter Price of the single item", id="form-price") }}
                        <div class="invalid-feedback">Please enter a valid price.</div>
                    </div>
                    <div class="col-md-4 mb-3 align-self-end d-flex justify-content-end">
                        <button type="button" class="btn btn-success mt-4" id="submit_product">Add Product</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Added Products Section -->
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Products List</h4>
                <ul class="list-group" id="productsList">
                    <!-- Dynamically added products will appear here -->
                </ul>
                <button type="button" class="btn btn-primary mt-4" id="submit_all">Submit All Purchases</button>
            </div>
        </div>
    </form>

    </div>
    </div>
</div>

{% include 'modal.html' %}

<script>
    $(document).ready(function() {
        $('.select2').select2();

        let products = [];

        // Handle adding a product
        $('#submit_product').on('click',
            function() {
            let form = $('#purchaseForm')[0];
            if (form.checkValidity() === false) {
                form.classList.add('was-validated');
                return;
            }

            let productId = $('#form-product').val();
            let productText = $('#form-product option:selected').text();  // selected product name
            let quantity = $('#form-quantity').val().trim();
            let price = ( $('#form-price').val().trim() * 1.0 ).toFixed(2);

            // Reset validation feedback
            form.classList.remove('was-validated');

            // Validate and add product to the list
            if(products.some(product => product.product_id === productId)) {
                alert('Product already added');
            } else {
                products.push({
                    product_id: productId,
                    product_name: productText,
                    quantity: quantity,
                    price: price * quantity
                });

                $('#productsList').append(`
                    <li class="list-group-item" id="${productId}">
                        ${productText}: ${quantity} units x ${price}€
                        <button type="button" class="btn btn-sm btn-outline-danger float-end" id="delete-btn-${productId}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </li>
                `);

                $(`#delete-btn-${productId}`).on('click', function() {
                    deleteProductFromList(productId);
                });

                // Clear the input fields
                $('#form-quantity').val('');
                $('#form-price').val('');
            }
        });

        function deleteProductFromList(productId) {
            products = products.filter(product => product.product_id !== productId);
            $(`#${productId}`).remove();
        }

        // Handle final form submission
        $('#submit_all').on('click',
            function() {
                $('#form-receipt_id').removeClass('is-invalid');
                $('#form-date').removeClass('is-invalid');

                let receiptId = $('#form-receipt_id').val().trim();
                let date = $('#form-date').val().trim();
                let isValid = true;

                if (!receiptId) {
                    $('#form-receipt_id').addClass('is-invalid');
                    isValid = false;
                }

                if (!date) {
                    $('#form-date').addClass('is-invalid');
                    isValid = false;
                }

                if (products.length === 0) {
                    alert('Please add at least one product');
                    isValid = false;
                }

                if (isValid) {
                    $.ajax({
                        url: "{{ url_for('submit_purchase') }}",
                        method: "POST",
                        data: {
                            receipt_id: receiptId,
                            date: date,
                            products: JSON.stringify(products)
                        },
                        success: function(response) {
                            window.location.href = "{{ url_for('purchases_page') }}";
                        },
                        error: function(error) {
                            alert('Error submitting purchase: ' + error.responseText);
                        }
                    });
                }
            });
    });
</script>
{% endblock %}
