{% extends 'base.html' %}

{% block title %}Profilo{% endblock %}

{% from 'app_dir/macros.html' import render_field %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow-sm">
        <div class="card-body">
            <div class="mt-2 mb-3">
              <h1 class="pt-4 text-center">Profilo personale di {{ current_user.Name }}</h1>
            </div>
            <form method="POST" action="{{ url_for('profile_page') }}">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {% if (field.widget.input_type != 'hidden' and field.name != 'csrf_token' and field.name != 'submit') %}
                        {{ render_field(field) }}
                    {% endif %}
                {% endfor %}
                <div class="row mb-3">
                    <div class="col">
                        {{ form.submit(class="btn btn-lg btn-block btn-primary text-center w-50") }}
                    </div>
                    <div class="col d-flex justify-content-end align-items-end">
                        <a class="btn btn-secondary btn ms-2" href="{{ url_for('home_page') }}">Torna alla Home</a>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}